<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>-->
  <connectionStrings>
    <!--<add name="JGPA" connectionString="Data Source=SSPLSERVER\SERVER2008;Initial Catalog=jgrove_JGP_Test;User ID=sa;Password=sumedha123$;Max Pool Size=300; Min Pool Size=10;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="JGPA" connectionString="Data Source=./;Initial Catalog=jgrove_JGP;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="JGPA" connectionString="Data Source=qss27\sqlexpress;Initial Catalog=JGPhaseI;User ID=sa;Password=sa12345;Integrated Security=False;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="JGPA" connectionString="Data Source= 50.191.13.206\sql2008r2;Initial Catalog=jgrove_JGP;User ID=sa;Password=sa@12345;Integrated Security=False;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="JGPA" connectionString="Data Source= pss23.win.hostgator.com;Initial Catalog=jgrove_JGP;User ID=jgrov_User;Password=Jgp@321#;Integrated Security=False;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="JGPA" connectionString="Data Source= QSS27\SQLEXPRESS;Initial Catalog=jgrove_JGP;User ID=sa;Password=sa12345;Integrated Security=False;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="JGPA" connectionString="Data Source=ENGLISHSEEKHO\LATESTSQL;Initial Catalog=jgrove_JGP;User ID=sa;Password=mnipl-1234;Integrated Security=False;" providerName="System.Data.SqlClient"/>-->  
    <add name="JGPA" connectionString="Data Source=.\SQLExpress;Initial Catalog=jgrove_JGP;Integrated Security=True;" providerName="System.Data.SqlClient"/>      
    <!--<add name="JGPA" connectionString="Data Source=(local);Initial Catalog=jgrove_JGP;User ID=sa;Password=dbnms#123;Integrated Security=False;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="JGPA" connectionString="Data Source=GUDIYA-PC;Initial Catalog=jgrove_JGP;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="JGPA" connectionString="Data Source=SSPLSERVER\SERVER2008;Initial Catalog=jgrove_JGP_Test;User ID=sa;Password=sumedha123$;Max Pool Size=300; Min Pool Size=10;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="JGPA" connectionString="Data Source=192.168.1.114;User ID=sa;Password=sa123;Initial Catalog=JGTest;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="JGPA" connectionString="Data Source=SRI-PC\SQLEXPRESS;User ID=sa;Password=sa123;Initial Catalog=JGTest;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="JGPA" connectionString="Data Source=MUDIT-PC\SQLEXPRESS;Integrated Security=true;Initial Catalog=JGTest;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--"Data Source=176.31.133.194;WIN-36OGPCO96U8\SQLEXPRESS;Integrated Security=true;Initial Catalog=JGTest;MultipleActiveResultSets=True"-->
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
  <!--<add name="JGPA" connectionString="Data Source=192.168.1.104;User ID=sa;Password=sql2014;Initial Catalog=jgrove_JGP;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="SynapsePay" value="http://jgp.jmgroveconstruction.com.192-185-6-42.secure23.win.hostgator.com/Sr_App/signin.php"/>
    <add key="Activation" value="http://jgp.jmgroveconstruction.com.192-185-6-42.secure23.win.hostgator.com/Activation.aspx"/>
    
    <!--<add key="CustomerEmailUsername" value="support@jmgroveconstruction.com"/>
    <add key="CustomerEmailPassword" value="kq2u0D3%"/>-->
    <add key="CustomerEmailUsername" value="accpayable.jgrove@gmail.com"/>
    <add key="CustomerEmailPassword" value="Sunrise123"/>
    <!--<add key="CustomerEmailUsername" value="service-sales@jmgroveconstruction.com"/>
    <add key="CustomerEmailPassword" value="Azekdeck1"/>-->
    <!--<add key="VendorCategoryUserName" value="accountspayable@jmgroveconstruction.com"/>-->
    <add key="VendorCategoryUserName" value="accpayable.jgrove@gmail.com"/>
    <add key="VendorUserName" value="purchasing@jmgroveconstruction.com"/>
    <add key="VendorCategoryPassword" value="Sunrise123"/>
    <add key="VendorPassword" value="Bquality1"/>
    <add key="logfile" value="D:\shikha\ennovations\JG\ErrorLog.txt"/>
    <add key="googlemaps.subgurim.net" value="ABQIAAAAtnpFtYh5hd-5iOoIMJ8okxSqaRvvAIY_8yUojuBtbosaAaoHYRTw6asuGC8AbfCWEvGz3_BWvP0CJA"/>
    <add key="CommandTimeOut" value="1000"/>
    <add key="timerduetime" value="0"/>
    <add key="timersubsequentinterval" value="5000"/>
    <add key="maxattemptcounter" value="5"/>
    <!-- <add key="AdminUserId" value="jgrove@jmgroveconstruction.com" />-->
    <add key="AdminUserId" value="jgtest2@gmail.com"/>
    <!--<add key="AdminCalendarUser" value="jgrove.georgegrove@gmail.com"/>
    <add key="AdminCalendarPwd" value="Hockey1068!"/>-->
    <!--<add key="ForgotPassEmail" value="support@jmgroveconstruction.com"/>
    <add key="ForgotPass" value="kq2u0D3%"/>-->
    <add key="ForgotPassEmail" value="customsoft.test@gmail.com"/>
    <add key="ForgotPass" value="custom567"/>
    <add key="AdminCalendarUser" value="customsoft.test@gmail.com"/>
    <add key="AdminCalendarPwd" value="customsoft567"/>
    <add key="URL" value="http://50.191.13.206/"/>
    <add key="UrlToReplaceForTemplates" value="http://localhost:61394/"/>
    <!--<add key="URL" value="http://localhost:61394"/>-->
    <!--<add key="URL" value="jgp.jmgroveconstruction.com.192-185-6-42.secure23.win.hostgator.com"/>-->
    <!--<add key="URL" value="http://192.168.0.30"/>-->
    <!--<add key="CustomerCalendar" value="CustomerCalendar"/>-->
    <add key="CustomerCalendar" value="Customer"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="googlekey" value="ABQIAAAArqTZflYxWaObi5aREKhrNBQmkC2bxGx7fIDYTQVeJfUIu7ArNBQjhqY2ruNdMxWt5-nkKZgZXG7NOg"/>
    <add key="PlGP:User" value="demo" />
    <add key="PlGP:Pwd" value="password" />
    <add key="PlGP:HostAddress" value="https://secure.paylinedatagateway.com/api/transact.php"/>
    <add key="smtpHost" value="smtp.gmail.com"></add>
    <add key="smtpPort" value="587"/>
    <add key="enableSSL" value="true"/>
    
  </appSettings>
  <!--<loggingConfiguration name="MLMLogging" tracingEnabled="false" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="JGProcess.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Month" traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Category: {category}{newline}&#xA;Title:{title}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Message: {message}{newline}" name="Text Formatter" />
    </formatters>
  </loggingConfiguration>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="300"/>
    <httpRuntime executionTimeout="7200" maxRequestLength="1048576"/>
    <!--<customErrors defaultRedirect="ErrorPage.aspx" mode="On">
      <error statusCode="404" redirect="ErrorPage.aspx" />
    </customErrors>-->
    <!--<compilation debug="true" targetFramework="4.0" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>