<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <connectionStrings>
      <add connectionString="Server=jgdbserver001.cdgdaha6zllk.us-west-2.rds.amazonaws.com,1433;Database=JGBS_Interview;User ID=interviewuser;Password=JGInt@021*" name="JGPA" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SynapsePay" value="http://jgp.jmgroveconstruction.com.192-185-6-42.secure23.win.hostgator.com/Sr_App/signin.php" />
    <add key="Activation" value="http://jgp.jmgroveconstruction.com.192-185-6-42.secure23.win.hostgator.com/Activation.aspx" />
    
    <!--<add key="CustomerEmailUsername" value="support@jmgroveconstruction.com"/>
    <add key="CustomerEmailPassword" value="kq2u0D3%"/>-->
    <add key="CustomerEmailUsername" value="accpayable.jgrove@gmail.com" />
    <add key="CustomerEmailPassword" value="Sunrise123" />
    <!--<add key="CustomerEmailUsername" value="service-sales@jmgroveconstruction.com"/>
    <add key="CustomerEmailPassword" value="Azekdeck1"/>-->
    
    <add key="VendorCategoryUserName" value="smjgrovetp@gmail.com" />
    <add key="VendorUserName" value="purchasing@jmgroveconstruction.com" />
    <add key="VendorCategoryPassword" value="jgbs@123" />
    <add key="VendorPassword" value="Bquality1" />
    <add key="logfile" value="D:\shikha\ennovations\JG\ErrorLog.txt" />
    <add key="googlemaps.subgurim.net" value="ABQIAAAAtnpFtYh5hd-5iOoIMJ8okxSqaRvvAIY_8yUojuBtbosaAaoHYRTw6asuGC8AbfCWEvGz3_BWvP0CJA" />
    <add key="CommandTimeOut" value="1000" />
    <add key="timerduetime" value="0" />
    <add key="timersubsequentinterval" value="5000" />
    <add key="maxattemptcounter" value="5" />
    <!-- <add key="AdminUserId" value="jgrove@jmgroveconstruction.com" />-->
    <add key="AdminUserId" value="jgrove@jmgroveconstruction.com" />
    <!--<add key="AdminCalendarUser" value="jgrove.georgegrove@gmail.com"/>
    <add key="AdminCalendarPwd" value="Hockey1068!"/>-->
    <!--<add key="ForgotPassEmail" value="support@jmgroveconstruction.com"/>
    <add key="ForgotPass" value="kq2u0D3%"/>-->
    <add key="ForgotPassEmail" value="customsoft.test@gmail.com" />
    <add key="ForgotPass" value="custom567" />
    <add key="AdminCalendarUser" value="customsoft.test@gmail.com" />
    <add key="AdminCalendarPwd" value="customsoft567" />
    <add key="URL" value="http://73.165.171.37/" />
    <add key="UrlToReplaceForTemplates" value="http://localhost:61394/" />
    <!--<add key="URL" value="http://localhost:61394"/>-->
    <!--<add key="URL" value="jgp.jmgroveconstruction.com.192-185-6-42.secure23.win.hostgator.com"/>-->
    <!--<add key="URL" value="http://192.168.0.30"/>-->
    <!--<add key="CustomerCalendar" value="CustomerCalendar"/>-->
    <add key="CustomerCalendar" value="Customer" />
    <add key="googlekey" value="ABQIAAAArqTZflYxWaObi5aREKhrNBQmkC2bxGx7fIDYTQVeJfUIu7ArNBQjhqY2ruNdMxWt5-nkKZgZXG7NOg" />
    <add key="PlGP:User" value="demo" />
    <add key="PlGP:Pwd" value="password" />
    <add key="PlGP:HostAddress" value="https://secure.paylinedatagateway.com/api/transact.php" />
    <add key="smtpHost" value="smtp.gmail.com"></add>
    <add key="smtpPort" value="587" />
    <add key="smtpUName" value="AKIAIBC54QRS4MOZSXGA" />
    <add key="smtpPwd" value="Am3ecfKp62myoyCnReDVuEanDP5UQITRRRlrv3G5IO/I" />        
    <add key="defaultEmailFrom" value="hr@jmgroveconstruction.com" />        
    <add key="defaultFromName" value="JGrove Construction" />        
    <add key="defaultEmailCC" value="kerconsultancy@hotmail.com" />        
    <add key="defaultCCName" value="KER Consultancy" />        
    <add key="defaultEmailBCC" value="yogesh.keraliya@gmail.com" />       
    <add key="defaultBCCName" value="Yogesh Keraliya" />        
    <add key="enableSSL" value="true" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\0. Jackson\KERConsultancy\JG_Prospect\trunk\JG_Prospect.web\TempCharts;" />
    <add key="ErrorNotificationEmailId" value="exception@kerconsultancy.com" />
  <add key="DefaultTaskDescription" value="Hi Justin, How are you. Please click on below task description to more details." />
  </appSettings>
  <!--<loggingConfiguration name="MLMLogging" tracingEnabled="false" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="JGProcess.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Month" traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Category: {category}{newline}&#xA;Title:{title}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Message: {message}{newline}" name="Text Formatter" />
    </formatters>
  </loggingConfiguration>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
   
     
  
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <sessionState timeout="300" />
    <httpRuntime executionTimeout="7200" maxRequestLength="1048576" requestValidationMode="2.0" />
    <customErrors defaultRedirect="ErrorPage.aspx" mode="Off">
      <error statusCode="404" redirect="ErrorPage.aspx" />
    </customErrors>
    <!--<compilation debug="true" targetFramework="4.0" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes" />
      </controls>
    </pages>

    <globalization culture="en-GB" />
    
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.9.0" newVersion="5.5.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>