JG_Prospect-New/packages/
JG_Prospect-New/JG_Prospect.web/bin/
JG_Prospect-New/JG_Prospect.web/obj/
JG_Prospect-New/JG_Prospect.WebAPI/obj/
JG_Prospect-New/.vs/JG_Prospect/v14/.suo
JG_Prospect-New/.vs/config/applicationhost.config
JG_Prospect-New/JG_Prospect.WebAPI/bin/
JG_Prospect-New/JG_Prospect.Common/obj/
JG_Prospect-New/JG_Prospect.DAL/obj/
JG_Prospect-New/JG_Prospect.BLL/obj/
JG_Prospect-New/JG_Prospect.Common/bin/
JG_Prospect-New/JG_Prospect.BLL/bin/
JG_Prospect-New/JG_Prospect.DAL/bin/
JG_Prospect-New/JG_Prospect.web/Sr_App/UploadedFile/
JG_Prospect-New/JG_Prospect.web/TaskAttachments/
JG_Prospect-New/JG_Prospect.web/Sr_App/MailDocument/MailAttachments/
JG_Prospect-New/JG_Prospect.web/Properties/PublishProfiles/TestProfile.pubxml.user
JG_Prospect-New/JG_Prospect.web/Properties/PublishProfiles/TestProfile.pubxml
JG_Prospect.BLL/JG_Prospect.BLL.csproj.vspscc
JG_Prospect.BLL/bin/
JG_Prospect.Common/obj/
JG_Prospect.DAL/obj/
JG_Prospect.WebAPI/obj/
JG_Prospect.web/bin/
JG_Prospect.web/obj/
packages/
JG_Prospect.BLL/obj/
JG_Prospect.WebAPI/bin/
.vs/
JG_Prospect.DAL/bin/
JG_Prospect.Common/bin/
