/* optional styling */
#loginControlDiv {
	font-size: 13px;
}

#navControlDiv {
	font-style: georgia;
	font-size: 12px;	
}

#navControlDiv input {
	border: solid white 1px;
	background:#fff;
	color:#1777b1;
	font-weight:bold;
	cursor:pointer;
	font-size: 12px;

	padding: 3px 25px;
}

#navControlDiv select {
	border: solid white 1px;
	font-size: 12px;	
	padding:1px 2px 1px 10px;
}

#viewControlDiv input {
	border: solid white 1px;
	background:#fff;
	color:#1777b1;
	font-weight:bold;
	cursor:pointer;
	font-size: 12px;

	padding: 3px 25px;
}

#eventDisplayDiv {
	padding: 0px;
	color: black;
	background: white;
	font-size: 12px;
	text-align: left;
}

#statusControlDiv {
	font-size: 11px;
	color: #ccc;
	height: 20px;
}

/* required styling */

.columnHeading {
	text-align: center;
	font-size: 12px; 
	color: #fff;
	font-weight:bold;
	background: #1777b1;
	border: solid 1777b1 1px;
}

.weekViewCell {
	width: 87px;
	height: 270px;
	border: solid gray 1px;
	text-align: left;
}

.monthViewCell {
	width: 87px;
	height: 90px;
	border: solid #1777b1 1px;
	text-align: left;
	background:#fff;
}

.contentCell {
	padding: 2px;
	font-size: 13px;
	font-weight:bold;
	color: black;
	font-family: arial;
}

.eventMouseOver {
	padding: 0px;
	font-size: 10px;
	color: white;	
	background: #1777b1;
	font-family: arial;
}

.eventMouseOut {
	padding: 0px;
	font-size: 10px;
	color: #fff;
	font-family: arial;
	background:#888;
}
#monthHolder, #weekDuration{
	padding: 3px 25px;
	background:#fff;
	color:#1777b1;
	font-weight:bold;
	
}
#prevMonth, #nextMonth, #prevWeek, #nextWeek{
	padding: 2px 5px !important;
	background:#1777b1 !important;
	color:#fff !important;
}
#doverlay
{
    background:none !important;
}
html
{
    margin:0;
    padding:0;
}