
.connected-carousels .stage {
    margin: 20px auto;
    position: relative;
    max-width: 470px;
}
.connected-carousels .photo-credits {
    bottom: 0;
    color: #fff;
    font-size: 13px;
    opacity: 0.66;
    position: absolute;
    right: 15px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
}
.connected-carousels .photo-credits a {
    color: #fff;
}
.connected-carousels .navigation {
    margin: 20px auto;
    position: relative;
    width: 260px;
}
.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}
.connected-carousels .carousel ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20000em;
}
.connected-carousels .carousel li {
    float: left;
}
.connected-carousels .carousel-stage {
    border: 10px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #999;
    height: 400px;
}

.connected-carousels .carousel-navigation {
    background: #fff none repeat scroll 0 0;
    border: 10px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #999;
    height: 60px;
    width: 240px;
}
.connected-carousels .carousel-navigation li {
    cursor: pointer;
    width:auto;
}
.connected-carousels .carousel-navigation li img {
    border: 5px solid #fff;
    display: block;
}
.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}
.connected-carousels .prev-stage, .connected-carousels .next-stage {
    color: #fff;
    display: block;
    height: 410px;
    position: absolute;
    top: 0;
    width: 305px;
}
.connected-carousels .prev-stage {
    left: 0;
}
.connected-carousels .next-stage {
    right: 0;
}
.connected-carousels .prev-stage.inactive, .connected-carousels .next-stage.inactive {
    
}
.connected-carousels .prev-stage span, .connected-carousels .next-stage span {
    background: #4e443c none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 0 2px #999;
    color: #fff;
    display: block;
    font: 24px/27px Arial,sans-serif;
    height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    top: 50%;
    width: 30px;
}
.connected-carousels .prev-stage span {
    left: 20px;
}
.connected-carousels .next-stage span {
    right: 20px;
}
.connected-carousels .prev-stage:hover span, .connected-carousels .next-stage:hover span {
    display: block;
}
.connected-carousels .prev-navigation, .connected-carousels .next-navigation {
    background: #4e443c none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 0 2px #999;
    color: #fff;
    display: block;
    font: 16px/29px Arial,sans-serif;
    height: 30px;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    width: 30px;
}
.connected-carousels .prev-navigation {
    left: -15px;
    text-indent: 6px;
    top: 22px;
}
.connected-carousels .next-navigation {
    right: -15px;
    text-indent: 20px;
    top: 22px;
}
.connected-carousels .prev-navigation.inactive, .connected-carousels .next-navigation.inactive {
    cursor: default;
    opacity: 0.5;
}
.connected-carousels .carousel.carousel-stage ul li img {
    height: 398px;
    width: 450px;
}